*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/PythonResultsParser/__pycache__
/PythonResultsParser/data/.tmp.*
.idea/deploymentTargetDropDown.xml
/nRF52840DKScanner/build
/nRF52840DKAdvertiser/build
